@keyframes timeLoader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-check {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes apparition-menu {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 100%;
  }
}

