*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

body { max-width: 1920px;}

.loaderPage {
  position: fixed;
  background-color: #f7f7f7;
  height: 100vh;
  inset: 0;
  z-index: 3;
  opacity: 100%;
  animation: timeLoader 0.6s $duration-loader forwards;

  .main {
    height: 100vh;
    @include flexCentre;

    .loader {
      opacity: 100%;
      width: 45px;
      height: 45px;
      border-radius: 45px;
      border: 5px solid rgba(66, 122, 108, 0.5);
      margin-right: 10px;
      position: relative;

      &::after {
        content: '';
        opacity: 100%;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 5px solid transparent;
        border-top-color: #99E2D0;
        position: absolute;
        animation: spin 2s linear infinite;
      }
    }
    .loader-text {
      font-family: 'Shrikhand', sans-serif;
      font-size: 32px;
      margin-left: 10px;
      color: #9356DC
    }
  }
}

.logo-header {

  h1 {
    @include flexCentre;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    font-size: 34px;
    font-family: 'Shrikhand', cursive;
  }
}

.localisation {
  @include flexCentre;
  background-color: $couleur-beige-fonce;
  padding: 20px 0 20px 0;
  border-top: 0.5px solid transparent; 
  -webkit-box-shadow: inset 0px 10px 17px -11px rgba(66,66,66,0.5); 
  box-shadow: inset 0px 10px 17px -11px rgba(66,66,66,0.5);

  i, p {
    padding: 5px;
    color: $couleur-gris;
    cursor: pointer;
  }
  p {
    &:hover {
      text-decoration: underline;
    }
  }
}

nav {

  .resa {
    background-color: $couleur-beige;
    @include flexColumn;

    h2 {
      font-size: 30px;
      text-align: center;
      padding: 50px 30px 20px 30px;
      font-weight: 700;
    }
    p {
      text-align: center;
      padding: 0px 30px 20px 30px;
      font-weight: 300;
    }
    .button {
      @include flexCentre;

      .btn-1 {
        @include gradient;
        text-decoration: none;
        color: #fff;
        padding: 20px 30px;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        margin: 30px;
        border-radius: 30px;
        -webkit-box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.3); 
        box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.3);
        cursor: pointer;
        opacity: 100%;
        transition: 0.2s;

        &:hover {
          -webkit-box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.4); 
          box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.4);
          opacity: 60%;
        }
      }
    }
  }
  .title-bloc {
    h2 {
      font-size: 30px;
      margin: 30px 0px 10px 20px;
    }
    .function {
      @include flexColumn;
      height: auto;

      .function-box {
        @include flexCentre;

        p {
          color: #fff;
          background-color: $couleur-violet;
          border-radius: 100%;
          padding: 5px 11px;
          position: relative;
          z-index: 2;
          left: 15px;
        }
        .icon-title {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: $couleur-beige;
          padding: 20px;
          margin: 20px 20px 20px 0;
          border-radius: 20px;
          width: 90%;
          height: 70px;
          cursor: pointer;
          position: relative;
          z-index: 1;
          transition: transform 0.1s;
          @include ombreBox;

          &:hover {
            -webkit-box-shadow: 0px 2px 31px -6px rgba(0,0,0,0.4); 
            box-shadow: 0px 2px 31px -6px rgba(0,0,0,0.4);
            background-color: rgba(147,86,220,0.1);
            .icon-function::before {
              color: #9356DC;
            }
          }

          a.contenu {
            @include flexCentre;
            text-decoration: none;
            color: black;

            .icon-function {
              padding: 10px;
              color: $couleur-gris;
            }
            h3 {
              font-weight: 500;
              font-size: 18px;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}

.mainPrincipale {
  margin-top: 30px;
  
  .bloc-restaurant {
    background-color: $couleur-beige;
    height: auto;

    h2 {
      font-size: 30px;
      padding: 30px 0px 30px 20px;
    }
    .restaurants {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);

      .case1 {
        grid-area: 1 / 1 / 2 / 2;
        @include reglage-case;
        position: relative;
        
        &:hover {
          @include ombreCase;
        }

        .imgCase1 {
          background-image: url("/images/menu-palette-gout.jpg");
          @include img;

          .btn-new {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 90px;
            height: 35px;
            background-color: #99E2D0;
            border: none;
            border-radius: 2px;
            color: #004d2e;
            font-size: 16px;
            @include flexCentre;
          }
        }
        .textCase {
          padding: 20px 15px;
          line-height: 1.5;
          position: relative;

          .heart-unlock {
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            opacity: 100%;
          }
          
          .heart-lock {
            cursor: pointer;
            opacity: 0%;
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            @include gradient-icon;
            transition: 400ms;

            &:hover {
              opacity: 100%;
            }
          }
        }
      }
      .case2 {
        grid-area: 2 / 1 / 3 / 2;
        @include reglage-case;

        &:hover {
          @include ombreCase;
        }

        .imgCase2 {
          background-image: url("/images/menu-note-enchantee.jpg");
          @include img;

          .btn-new {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 90px;
            height: 35px;
            background-color: #99E2D0;
            border: none;
            border-radius: 2px;
            color: #004d2e;
            font-size: 16px;
            @include flexCentre;
          }
        }
        .textCase {
          padding: 20px 15px;
          line-height: 1.5;
          position: relative;

          .heart-unlock {
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            opacity: 100%;
          }
          
          .heart-lock {
            cursor: pointer;
            opacity: 0%;
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            @include gradient-icon;
            transition: 400ms;

            &:hover {
              opacity: 100%;
            }
          }
        }
      }
      .case3 {
        grid-area: 3 / 1 / 4 / 2;
        @include reglage-case;

        &:hover {
          @include ombreCase;
        }
        
        .imgCase3 {
          background-image: url("/images/menu-francais.jpg");
          background-position: bottom;
          @include img;
        }
        .textCase {
          padding: 20px 15px;
          line-height: 1.5;
          position: relative;

          .heart-unlock {
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            opacity: 100%;
          }
          
          .heart-lock {
            cursor: pointer;
            opacity: 0%;
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            @include gradient-icon;
            transition: 400ms;

            &:hover {
              opacity: 100%;
            }
          }
        }
      }
      .case4 {
        grid-area: 4 / 1 / 5 / 2;
        @include reglage-case;
        margin-bottom: 30px;

        &:hover {
          @include ombreCase;
        }
        
        .imgCase4 {
          background-image: url("/images/menu-delice.jpg");
          background-position: bottom;
          @include img;
        }
        .textCase {
          padding: 20px 15px;
          line-height: 1.5;
          position: relative;

          .heart-unlock {
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            opacity: 100%;
          }
          
          .heart-lock {
            cursor: pointer;
            opacity: 0%;
            font-size: 30px;
            position: absolute;
            right: 45px;
            top: 35px;
            @include gradient-icon;
            transition: 400ms;

            &:hover {
              opacity: 100%;
            }
          }
        }
      }
    }
  }
}        

footer {
  background-color: $couleur-gris;
  color: #fff;
  padding: 10px 0 30px 0;

  .logo-footer {
    font-family: 'Shrikhand', cursive;
    padding: 25px 0 25px 20px;
    font-size: 24px;
  }
  .text-footer {
    padding-left: 20px;
    line-height: 1.7;

    li {
      list-style-type: none;

      a.liens-utiles {
        text-decoration: none;
        color: white;
      }
      .liens-utiles-icons2 {
        font-size: 15px;
        padding-right: 5px;
      }
      
      .liens-utiles-icons1 {
        font-size: 22px;
        padding-right: 5px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
