@media screen and (max-width: 321px) {
  
  .loaderPage {
    .main {
      .loader {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        border: 4px solid rgba(66, 122, 108, 0.5);
  
        &::after {
        content: '';
        opacity: 100%;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        border: 4px solid transparent;
        border-top-color: #99E2D0;
        position: absolute;
        animation: spin 2s linear infinite;
        }
      }
      .loader-text {
        font-size: 20px;
      }
    }
  }

  .img-menu1, .img-menu2, .img-menu3, .img-menu4 {
    height: 450px;
  }
}
