body { max-width: 1920px;}

.loaderPage {
  position: fixed;
  background-color: #f7f7f7;
  height: 100vh;
  inset: 0;
  z-index: 3;
  opacity: 100%;
  animation: timeLoader 0.6s $duration-loader forwards;

  .main {
    height: 100vh;
    @include flexCentre;

    .loader {
      opacity: 100%;
      width: 45px;
      height: 45px;
      border-radius: 45px;
      border: 5px solid rgba(66, 122, 108, 0.5);
      margin-right: 10px;
      position: relative;

      &::after {
        content: '';
        opacity: 100%;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 5px solid transparent;
        border-top-color: #99E2D0;
        position: absolute;
        animation: spin 2s linear infinite;
      }
    }
    .loader-text {
      font-family: 'Shrikhand', sans-serif;
      font-size: 32px;
      margin-left: 10px;
      color: #9356DC
    }
  }
}

header {
  #logo-header {
    @include flexCentre;

    .retour-accueil {
      @include flexCentre;
      margin-top: 8px;
      i {
        position: absolute;
        margin-left: 10px;
        left: 20px;
        font-size: 25px;
        color: rgb(32, 32, 32)
      }
    }
    h1 {
      margin: 0 auto;
      padding: 20px 0 10px 0;
      font-size: 34px;
      font-family: 'Shrikhand', 'cursive';
      position: relative;
    }
  }
}

.img-menu4 {
  background-image: url(../images/menu-palette-gout.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 280px;
}

main {
  height: auto;
  background: $couleur-beige;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;

  .menu-type {
    @include flexBetween;
    padding: 30px 20px 0px 20px;

    h2 {
      font-size: 30px;
      font-family: 'Shrikhand', 'cursive';
    }
    i {
      font-size: 32px;
    }
  }
}

.heart-unlock {
  font-size: 30px;
  position: absolute;
  right: 45px;
  top: 35px;
  opacity: 100%;
}

.heart-lock {
  cursor: pointer;
  opacity: 0%;
  font-size: 30px;
  position: absolute;
  right: 45px;
  top: 35px;
  @include gradient-icon;
  transition: 400ms;
}

.heart-lock:hover {
  opacity: 100%;
}

.grille-Menu-titre {
  .titreRepas {
    p {
      text-transform: uppercase;
      margin: 30px 0 0 20px;
      font-size: 18px;
      font-weight: 300;
    }
    .traitVert {
      border: #99E2D0 solid 2px;
      border-radius: 2%;
      width: 50px;
      margin: 8px 0 15px 20px;
    }
  }
}

.grille-Menu {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  margin: 15px;
  line-height: 1.5;
  @include ombreBox;
  @include disparition;
  
  .menu {
    padding: 15px;
    @include disparition;
    h4 {
      @include disparition;
      font-size: 18px;
      cursor: pointer;
    }
    p {
      @include disparition;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .menu-price {
    font-weight: bold;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 15px;
  }
  .validation {
    display: grid;
    place-items: center;
    background-color: $couleur-turquoise;
    padding: 15px 25px 15px 25px;
    border-radius: 0 20px 20px 0;
    color: #fff;
    margin-right: -80px;
    overflow: hidden;
    transition: 0.5s;
  }
}

.grille-Menu:hover .validation {
  margin-right: 0px;
  cursor: pointer;
}

.grille-Menu:hover .menu-price {
  margin-right: 15px;
}

.appear-1 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 200ms;
  animation-fill-mode: both;
}

.appear-2 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 400ms;
  animation-fill-mode: both;
}

.appear-3 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 600ms;
  animation-fill-mode: both;
}

.appear-4 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 800ms;
  animation-fill-mode: both;
}

.appear-5 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 1000ms;
  animation-fill-mode: both;
}

.appear-6 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 1200ms;
  animation-fill-mode: both;
}

.appear-7 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 1400ms;
  animation-fill-mode: both;
}

.appear-8 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 1600ms;
  animation-fill-mode: both;
}

.appear-9 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 1800ms;
  animation-fill-mode: both;
}

.appear-10 {
  animation-name: apparition-menu;
  animation-duration: 1s;
  animation-delay: $duration-loader + 2000ms;
  animation-fill-mode: both;
}

.fa-circle-check {
  font-size: 30px;
}

.grille-Menu:hover .fa-circle-check {
  animation: spin-check 0.6s;
}

.button {
  @include flexCentre;

  .btn-1 {
    text-decoration: none;
    background: rgb(255,121,218);
    background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    padding: 20px 50px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    margin: 40px 0 100px 0;
    color: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.3); 
    box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.3);
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;

    &:hover {
      -webkit-box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.4); 
      box-shadow: 0px 9px 31px -6px rgba(0,0,0,0.4);
      opacity: 60%;
    }
  }
}