@media screen and (min-width: 1023px) {
  nav {
    .title-bloc {
      h2 {
        margin-bottom: 20px;
      }
      .function {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .function-box {
          width: 33%;
          p {
            left: 5px;
          }
          .icon-title {
            padding: 10px 20px 10px 20px;
            margin: 0;
            right: 10px;
          }
        }
      }
    }
  }
  .mainPrincipale {
    .bloc-restaurant {
      max-width: 1010px;
      margin: 0 auto;
      .restaurants {    
        .case1 {
          margin: 0 20px 0 10%;
        }
        .case2 {
          margin: 0 10% 0 20px;
        }
        .case3 {
          margin: 0 20px 30px 10%;
        }
        .case4 {
          margin: 0 10% 30px 20px;
        }
      }
    }
  }
}
