@media screen and (min-width: 426px) {
  nav {
    .title-bloc {
      .function {
        .function-box {
          p {
            left: 22%;
          }
          .icon-title {
            margin: 20px 20%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 466px) {
  .mainPrincipale {
    .bloc-restaurant {
      .restaurants {

        .case1,
        .case2,
        .case3,
        .case4 {
          margin: 4% 15%;
        }
      }
    }
  }
}

@media screen and (min-width: 735px) {
  .mainPrincipale {
    .bloc-restaurant {
      .restaurants {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 7px;

        .case1 {
          grid-area: 1 / 1 / 2 / 2;
          margin: 0 10px;
        }
        .case2 {
          grid-area: 1 / 2 / 2 / 3;
          margin: 0 10px;
        }
        .case3 {
          grid-area: 2 / 1 / 3 / 2;
          margin: 0 10px 30px 10px;
        }
        .case4 {
          grid-area: 2 / 2 / 3 / 3;
          margin: 0 10px 30px 10px;
        }
      }
    }
  }
}
