$couleur-gris: rgb(65, 62, 62);
$couleur-beige: #f7f7f7;
$couleur-beige-fonce: #ededed;
$couleur-violet: #9356DC ;
$couleur-violet-clair: rgba(147,86,220,0.4) ;
$couleur-rose: #99E2D0;
$couleur-turquoise: #99E2D0;
$couleur-gris-text: rgb(36, 35, 35);
$duration-loader: 2s;