@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@import '_mixins';
@import '_variables';
@import '_animation';
@import '_index';
@import '_menuFrancais';
@import '_menuPaletteGout';
@import '_menuNoteEnchantee';
@import '_menuDeliceDesSens';
@import '_P_responsiveTab';
@import '_P_responsiveDesktop';
@import '_P_responsive+';
@import '_P_responsivePetitTel';
@import '_M_responsiveTab';
@import '_M_responsiveDesktop';
@import '_M_responsive+';
@import '_M_responsivePetitTel';